


<div class="three wide column center aligned votes">
    <div class="ui statistic">
        <div class="value">
            {{ article.votes }}
        </div>
        <div class="label">
            Points
        </div>
    </div>
</div>
<div class="ten wide column">
    <a class="ui large header" href="{{ article.link }}">
        {{ article.title }}
    </a>
    <div class="meta">({{ article.domain() }})</div>

    <ul class="ui big horizontal list voters">
        <li class="item">
            <a href (click)="voteUp()">
                <i class="arrow up icon"></i>
                upvote
            </a>
        </li>
        <li class="item">
            <a href (click)="voteDown()">
                <i class="arrow down icon"></i>
                downvote
            </a>
        </li>
    </ul>
</div>

<div *ngIf="adm" class="three wide column grid middle aligned">
    <button class="ui negative left floated button">
        <i class="flag icon"></i>
        flag
    </button>
</div>

